/*cor da navbar*/
.navbar-expand-lg{
    background-color: #31a3b4;
    box-shadow: 0 50px 40px rgba(0,0,0,.04);
}
/*Quiz*/
.navbar-light .navbar-brand {
    color: white;
    font-size: 23px;
}
/*Botao de login e registro*/
.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 23px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 6%;
    border: 1px solid;
}

body{
    background-color: #f5f8fa;
    height: 100%;
}
.font-weight-normal{
    text-align: center;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.font-weight-bold {
    color: white;
    padding: 30px;
    font-size: 20px;
}
.addpergunta{
    padding: 30px;
    width: 55%;
}
.border-1{
    border: 1px solid;
    padding: 20px;
}
.border-2{
    border: 1px solid;
    color: blue;
    padding: 20px;
}
.border-3{
    border: 1px solid;
    color: red;
    padding: 20px;
}
.lista-quiz{
    margin-top: 5%;
    width: 70%;
}
.btn-outline-danger{
    float: right;
}
.btn-outline-info{
    float: right;
}
.font-weight-light{
    font-size: 30px;
}